@import 'https://fonts.googleapis.com/css?family=Lato';
@import "reset.scss";
@import "variables.scss";
@import "utilities.scss";

html{
	color: $text_color;
    font-size: 18px;
	width: 100%;
	height: 100%;
}
*{
	box-sizing: border-box;
}
body{
	height: 100%;
	overflow: hidden;
	font-family:$font_sans_main;
}
main{
	position: relative;
	height: calc( 100% - #{$main_height} );
	background-color: $map_bg_color;
	.container,
	.map-container{
		height: 100%;
	}
}
#map{
	height: 100%;
}
header{
    display: block;
    width: 100%;
    height: $header_height;
    background-color: $ui_color;
}
footer{
	display: block;
    width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	height: $footer_height;
	background-color: $ui_color;
}

// Buttons

button{
	outline: none;
	border: none;
	box-shadow: none;
	font-size: 1rem;
	color: $button_text_color;
	cursor: pointer;
	background: none;
	position: relative;
	overflow: hidden;
	vertical-align: top;
	font-family:$font_sans_main;
	text-transform: capitalize;
}
.circle{
  display: block;
  position: absolute;
  background: rgba(0,0,0,.08);
  border-radius: 50%;
  transform: scale(0);
  &.animate{animation: effect 0.5s linear;}
}
@keyframes effect{
	100%{
    opacity: 0;
    transform: scale(2.5);
  }
}

button.write-message{
	background-color: #FF9800;
	border: none;
	outline: none;
	padding: 0.75rem 1rem;
	margin-top: 0.75rem;
	display: inline-block;
}
button.register,
button.sign-in,
button.sign-out{
	background-color: #558b2f;
	padding: 0.25rem 0.5rem;
}
button.sign-in{
	margin-left: 0.4rem;
}


// UI

header{
	font-size: 0;
	text-align: justify;
	&::after{
		content: ' ';
		display: inline-block;
		width: 100%;
	    height: 0;
	    font-size:0;
	    line-height:0;
	}
	.logo{
		vertical-align: top;
		height: 3rem;
		width: 12rem;
		display: block;
		float: left;
		margin: 0.5rem 0 0 1rem;
		background-color: $ui_color_alt;
		background-image: url(../images/logo.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		>a{
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}
.account{
	float: right;
	height: 3.2rem;
	margin: 0.4rem 1rem 0 0 ;
	background-color: $ui_color_alt;
	font-size: 1rem;
	padding: 0.75rem;
	font-size: 0;
	.user-info{
		display: inline-block;
		margin-right: 1.5rem;
		cursor: pointer;
		*{
			vertical-align: middle;
		}
	}
	.user-image{
		width: 1.7rem;
		height: 1.7rem;
		position: relative;
		display: inline-block;
		margin-right: 0.8rem;
		animation: popIn 200ms ease-in 1200ms forwards;
		padding: 1px;
		background-color: #eee;
		border-radius: 50%;
		overflow: hidden;
		.image-wrap{
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
			border-radius: 50%;
		}
		img{
			width: 100%;
			border-radius: 50%;
			height: 100%;
		}
	}
	.user-name{
		display: inline-block;
		font-size: 1.2rem;
		text-transform: capitalize;
	}
}
.overwrite{
	pointer-events: none;
}

@keyframes popIn {
	100% {transform: scale(1.5)}
}


footer{
	text-align: center;
}
// Map
.map-container{
	background-image: url(../images/globe.gif), url(../images/globe-background.png);
	background-position: center;
	background-repeat: no-repeat, repeat;
}

@keyframes blinkElipse{
	0% {opacity: 0;}
	25% {opacity: 1;}
	75% {opacity: 1;}
	100% {opacity: 0;}
}
.loading-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 60px);
	color: #fff;
	span:nth-child(1){
		animation: blinkElipse 1200ms 0ms infinite;
	}
	span:nth-child(2){
		animation: blinkElipse 1200ms 200ms infinite;
	}
	span:nth-child(3){
		animation: blinkElipse 1200ms 400ms infinite;
	}
}


form{
	input[type="text"]{
		border: none;
		margin-right: 0.4rem;
		height: 1.8rem;
	    padding: 0 0.4rem;
		outline: none;
		background-color: #c5e1a5;
		color: #333;
		font-family: $font_sans_main;
		font-weight: 700;
	}
}
